body{
	background-color: lightgrey;
}
th,h1{
	color: blue;
}
.tab,th{
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}

th{
	background-color: lightgray;
}

button:hover {
	background-color: orange;
}
ul, p, h3 {
	text-align: left;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}