th,h1{
	color: blue;
}
table,th,td{
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}
div{
	margin: 50px;
	padding: 10px;
	background-color: teal;
}

h1{
	margin: 50px;
}

th{
	background-color: lightgray;
}